{{ form_start(form) }}
<div class="row col-12">
    <div class="col-3 offset-1">
        {{ form_row(form.dateinvitation,{'attr':{'class':'form-control datetimepicker'}}) }}
    </div>
    <div class="col-3">
        {{ form_row(form.nbrpersonnes,{'attr':{'class':'form-control'},'label':'Nbr de Personnes Max'}) }}
    </div>
    <div class="col-3">
        {{ form_row(form.typeinvitation,{'attr':{'class':'custom-select col-12'}}) }}
    </div>
    <div class="col-12 form-row mt-2">
        <a href="{{ path('invitations_index') }}" class="offset-6 btn-lg btn-dark fas fa-backspace"></a>
        <button class="btn-lg btn-success far fa-save ml-2"></button>
    </div>
</div>
{{ form_end(form) }}