{{ form_start(form) }}
<div class="row col-12">
    <div class="col-5 offset-1">
        {{ form_row(form.dateconvocation,{'attr':{'class':'form-control datetimepicker'}}) }}
    </div>
    <div class="col-5">
        {{ form_row(form.nbrpersonnes,{'attr':{'class':'form-control'},'label':'Nbr de Personnes convoquées'}) }}
    </div>
    <div class="col-12 form-row mt-2">
        <a href="{{ path('convocations_index') }}" class="btn-lg btn-secondary far fa-backspace"></a>
        <button class="btn-lg btn-success far fa-save ml-2"></button>
    </div>
</div>
{{ form_end(form) }}
