{% extends 'base.html.twig' %}

{% block title %}Convocations index{% endblock %}

{% block body %}
<div class="container">
    {{ include('convocations/multi.html.twig') }}
        <a  class="dropdown-item bg-light" 
            href="#" data-toggle="modal" data-target="#ShowConvocation">
            <h1>Convocation N°{{ idconvo }} <br> du {{ date|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY à HH:mm") }}
                </h1>
        </a>
        <div class="col-12 alert-warning">Nbr de personnes {{ nbrconvo }} 
            / 
            {% if convocations[0]['nbrpersonnes'] > nbrconvo %}
                <a href="{{ path('modif_nbrmax_convocation', {'idconvo': idconvo,'ajout':0}) }}" class="fas fa-minus-circle"></a>
            {% else %}
                <i class="fas fa-minus-circle text-black-50"></i>
            {% endif %}
            <input class="border-0 bg-transparent text-center" value="{{ convocations[0]['nbrpersonnes'] }}" id="nbrPersMax" size="1" style="width: 22px;">
            <a  href="{{ path('modif_nbrmax_convocation', {'idconvo': idconvo,'ajout':1}) }}" 
                class="fas fa-plus-circle"></a>
        </div>
    <div class="mt-2 col-12">
        {# |date('D d M Y', "Europe/Paris") #}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Numsecu</th>
                    <th>Sexe</th>
                    <th>Ddn</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% if nbrconvo is empty %}
                    {% set nbrconvo = 0 %}
                {% endif %}
            {% for convocation in convocations %}
                <tr class={% if convocation.dateconvocation %} "bg-primary" {% else %} "" {% endif %}  >
                    <td>{{ convocation.id }}</td>
                    <td>{{ convocation.nom }}</td>
                    <td>{{ convocation.prenom }}</td>
                    <td>{{ convocation.numsecu }}</td>
                    <td>{{ convocation.sexe }}</td>
                    <td>{{ convocation.ddn ? convocation.ddn|date('d/m/Y') : '' }}</td>
                    {# <td>{{ convocation.nbrpersonnes }}</td> #}
                    <td>
                        {% if convocation.dateconvocation %}
                            <a href="{{ path('convoquer_pers', {'id': convocation.id,'idconvo':idconvo,'convoquer':0}) }}" class="btn-sm btn-danger fas fa-trash"></a>
                        {% elseif not(convocation.dateconvocation) and (convocations[0]['nbrpersonnes'] is empty or nbrconvo < convocations[0]['nbrpersonnes']) %}
                            <a href="{{ path('convoquer_pers', {'id': convocation.id,'idconvo':idconvo,'convoquer':1}) }}" class="btn-sm btn-success fas fa-plus-square"></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('convocations_new') }}">Créer</a>
</div>    
{% endblock %}
