{# SHOW Convocations MODAL #}
<div    class="modal fade bg-light" 
        style="height: 90%; min-width: 80%;"
        id="ShowConvocation" tabindex="-1" role="dialog" aria-labelledby="ModalConvocations" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">      
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 id="Convocations_titreShowConvocations" class="modal-titlecenter">Convocation N°{{ idconvo }} <br> du {{ date|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY à HH:mm") }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="Convocations" class="col-12 row" action="{{ path('convocations_edit',{'idconvo':idconvo}) }}" method="POST">
                    <input type="hidden" name="convocations[idconvo]" id="idconvo" value="{{ idconvo }}">
                    <div class="m-0 p-0 row col-12" id="divContenu">
                    <div class="row col-12">
                        <label class="col-4" for="Date_Convocation">Date convocation</label>
                        <input  type="text" class="form-control input-inline datetimepicker col-8" 
                                id="Date_Convocation" name="convocations[dateconvocation]" 
                                required="required" data-provide="datetimepicker" format="dd/MM/yyyy HH:mm" input="string" input_format="d-M-Y HH:mm"
                                value="{{date|format_datetime(locale='fr',pattern="dd/MM/YYYY HH:mm")}}">
                    </div>
                    <div class="row col-12">
                        <label class="col-4" for="NbrMax_Convocation">Nbr de personnes max</label>
                        <input  type="number" class="form-control col-8" 
                                id="NbrMax_Convocation" name="convocations[nbrpersonnes]" placeholder="Selectionnez un nbr maximum"
                                value="{{ nbrconvo }}">
                    </div>
                    <input type="hidden" id="convocations_token" name="token" value="{{ csrf_token('edit') }}">
                    </div>
                    <div class="modal-footer row col-12">
                    <button class="btn btn-success"  id="Convocations_submit_button">Sauvegarder</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="Convocations_close_button">Fermer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# END Convocations MODAL #}