{% extends 'base.html.twig' %}

{% block title %}Convocations{% endblock %}

{% block body %}
    <h1>Convocations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ convocation.id }}</td>
            </tr>
            <tr>
                <th>Nbrpersonnes</th>
                <td>{{ convocation.nbrpersonnes }}</td>
            </tr>
            <tr>
                <th>Dateconvocation</th>
                <td>{{ convocation.dateconvocation ? convocation.dateconvocation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('convocations_index') }}">back to list</a>

    <a href="{{ path('convocations_edit', {'id': convocation.id}) }}">edit</a>

    {{ include('convocations/_delete_form.html.twig') }}
{% endblock %}
