<table class="table display">
    <thead> 
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Numsecu</th>
            <th>Sexe</th>
            <th>Ddn</th>
            <th>Nbr</th>
            <th>Date Convo</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {# {% for consultant in consultants %}
        <tr>
            <td>{{ consultant.id }}</td>
            <td>{{ consultant.nom|upper }}</td>
            <td>{{ consultant.prenom }}</td>
            <td>{{ consultant.numsecu }}</td>
            <td>{{ consultant.sexe }}</td>
            <td>{{ consultant.ddn ? consultant.ddn|date('d/m/Y') : '' }}</td>
            <td>{{ consultant.nbrpersonnes }}</td>
            <td>{{ consultant.dateconvocation ? consultant.dateconvocation|date('d/m/Y H:i') : '' }}</td>
            <td>
                <a href="{{ path('consultants_show', {'id': consultant.id}) }}" class="btn-sm btn-secondary fas fa-eye"></a>
                <a href="{{ path('consultants_edit', {'id': consultant.id}) }}" class="btn-sm btn-success fas fa-edit"></a>
            </td>
        </tr>
    {% else %} #}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
    {# {% endfor %} #}
    </tbody>
</table>