{% extends 'base.html.twig' %}

{% block title %}Consultants{% endblock %}

{% block body %}
    <h1>Consultants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ consultant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ consultant.prenom }}</td>
            </tr>
            <tr>
                <th>Numsecu</th>
                <td>{{ consultant.numsecu }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ consultant.sexe }}</td>
            </tr>
            <tr>
                <th>Ddn</th>
                <td>{{ consultant.ddn ? consultant.ddn|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('consultants_index') }}">back to list</a>

    <a href="{{ path('consultants_edit', {'id': consultant.id}) }}">edit</a>

    {{ include('consultants/_delete_form.html.twig') }}
{% endblock %}
