{% extends 'base.html.twig' %}

{% block title %}Consultants{% endblock %}

{% block body %}
<div class="form-group">
    <h1>Consultants</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ consultant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ consultant.prenom }}</td>
            </tr>
            <tr>
                <th>Numsecu</th>
                <td>{{ consultant.numsecu }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ consultant.sexe }}</td>
            </tr>
            <tr>
                <th>Ddn</th>
                <td>{{ consultant.ddn ? consultant.ddn|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col-12 form-row mt-2">
        <a href="{{ path('consultants_index') }}" class="btn-lg btn-secondary fas fa-backspace"></a>
        <a href="{{ path('consultants_edit', {'id': consultant.id}) }}" class="btn-lg btn-success fas fa-edit"></a>
        {{ include('consultants/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
