{% extends 'base.html.twig' %}

{% block title %}Fonction{% endblock %}

{% block body %}
    <h1>Fonction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fonction.id }}</td>
            </tr>
            <tr>
                <th>Libfonction</th>
                <td>{{ fonction.libfonction }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fonction_index') }}" class="btn-lg btn-secondary fas fa-backspace"></a>

    <a href="{{ path('fonction_edit', {'id': fonction.id}) }}" class=""><i class="fas fa-edit"></i></button></a>

    {{ include('fonction/_delete_form.html.twig') }}
{% endblock %}
