{% extends 'base.html.twig' %}

{% block title %}TypeInvitation index{% endblock %}

{% block body %}
    <h1>TypeInvitation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libtypeinvitation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_invitation in type_invitations %}
            <tr>
                <td>{{ type_invitation.id }}</td>
                <td>{{ type_invitation.libtypeinvitation }}</td>
                <td>
                    <a href="{{ path('type_invitation_show', {'id': type_invitation.id}) }}">show</a>
                    <a href="{{ path('type_invitation_edit', {'id': type_invitation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_invitation_new') }}">Create new</a>
{% endblock %}
